@charset "utf-8";

p,h1,h2,h3,h4 {
    margin-top: 0px;
}
header {
    width: 320px;
    margin: 400px auto 0 auto;
    font-family: serif;
    font-size: 100px;
    line-height: 1;
}
#wrap {
    clear: both;
    
}
.content {
    width: 500px;
    margin: 0 auto;
    font-family: serif;
    font-size: 30px;
}
li {
    list-style: none;
    float: left;
    margin: 0 50px;
}

